Repository ianstormtaylor/slate, pull requests merged in 2019-07, with the labels that each got.

#2883 Improve mentions example by including scroll calculation
  examples/mentions/Suggestions.js
Labels: examples

#2898 Update slate-react plugin documentation with breaking changes from 0.22.0
  docs/reference/slate-react/plugins.md
Labels: docs

#2872 Fix bugs in getRelativeRange.
  packages/slate-react/src/components/node.js
Labels: bug

#2855 Add prop to optionally enable grammarly
  packages/slate-react/src/components/content.js
  packages/slate-react/src/components/editor.js
Labels: improvement

#2905 Add a mark in the search highlight example
  examples/search-highlighting/index.js
  examples/search-highlighting/value.json
Labels: examples
