Repository ianstormtaylor/slate, pull requests merged in 2019-02, with the labels that each got.

#2577 Add View Source link on examples page
  examples/app.js
Labels: examples

#2615 Add @convertkit/slate-lists to plugins page
  docs/general/plugins.md
Labels: docs

#2591 Remove reference to deprecated slate-simulator package
  packages/slate-react/package.json
Labels: debt
