Repository ianstormtaylor/slate, pull requests merged in 2019-06, with the labels that each got.

#2831 Remove leaves from docs
  docs/walkthroughs/installing-slate.md
  docs/walkthroughs/saving-to-a-database.md
Labels: docs

#2836 Corrected placeholder alignement in chrome
  packages/slate-react-placeholder/src/index.js
Labels: bug

#2843 Replace renderNode with renderBlock in the docs
  docs/walkthroughs/applying-custom-formatting.md
Labels: docs

#2847 Fix several errors in the deprecated `getEventRange`
  packages/slate-react/src/utils/get-event-range.js
Labels: bug

#2849 Fix typo on Data Model docs page
  docs/guides/data-model.md
Labels: docs

#2877 Fixed mentions example
  examples/mentions/index.js
  packages/slate/src/commands/on-value.js
  packages/slate/src/models/value.js
Labels: examples
