Repository ianstormtaylor/slate, pull requests merged in 2019-10, with the labels that each got.

#3031 Capitalise references to Mark for consistency
  docs/reference/slate/commands.md
Labels: docs

#3033 Fixed typo in docs: addMarkAt_Ar_ange -> addMarkAt_R_ange
  docs/guides/commands-and-queries.md
Labels: docs

#3038 Fixed /placeholder link on Examples page
  examples/app.js
Labels: examples

#3044 Fix unicode offset
  examples/emojis/index.js
  examples/emojis/value.json
  packages/slate/src/commands/on-selection.js
  packages/slate/src/utils/text-utils.js
Labels: bug

#3047 Added onMouseUp into available hooks.
  docs/reference/slate-react/plugins.md
Labels: docs

#3019 Prevent scrolling when no user actions are performed
  packages/slate-react/src/components/content.js
  packages/slate-react/src/plugins/dom/before.js
Labels: bug
