Repository ianstormtaylor/slate, pull requests merged in 2019-09, with the labels that each got.

#2994 Add Archbee to resources.md
  docs/general/resources.md
Labels: docs

#3001 Drop dragged nodes into the correct place
  packages/slate-react/src/plugins/dom/after.js
Labels: bug

#2996 Update range.md
  docs/reference/slate/range.md
Labels: docs

#2982 FIX findPoint offset may be include zero width string
  packages/slate-react/src/utils/find-point.js
Labels: bug

#3014 fix cursor jumping to end in embeds example
  examples/embeds/video.js
Labels: examples

#3016 Update getTexts() documentation for Node Model
  docs/reference/slate/node.md
Labels: docs

#3017 Fix broken core-plugin link and add a new item to the products list in document
  docs/general/resources.md
  docs/guides/plugins.md
Labels: docs

#3018 Replace deprecated findDOMNode with editor.findDOMNode in cloneFragment
  packages/slate-react/src/utils/clone-fragment.js
Labels: bug
